
body 
{
    font-family: "Segoe Print", Arial, "Arial Black", Verdana, sans-serif;
    background: #000000;
    background: -webkit-linear-gradient(to top, #000000, #434343);
    background: linear-gradient(to top, #000000, #434343);
    color: #a0a0a0;
}
.logo
{
    position: absolute;
    width: 65px;
    height: 65px;
}
.titre-cv
{
    background: url("images/lodyas.png") center no-repeat;
    border: 0.1em inset #575757;
    border-radius: 0.4em;
    width: 35.7em;
    margin: auto;
    margin-bottom: 0.5em;
    text-align: center;
    color: #a0a0a0;
    font-size: 1.4em;
}
.block-info-perso
{
    background: url("images/lodyas.png") center no-repeat;
    border: 0.2em inset #575757;
    border-radius: 0.8em;
    width: 50em;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
}
.info-perso-1
{
    text-align: left;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info-perso-2
{
    text-align: right;
    padding-right: 1em;
}
.tel
{
    font-weight: bold;
}
.mail
{
    text-decoration: underline;
}
.exp-pro
{
    background: url("images/lodyas.png") center no-repeat;
    border: 0.1em inset #575757;
    border-radius: 0.4em;
    width: 33.5em;
    margin: auto;
    margin-top: 1em;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
}
.exp-info
{
    margin: 0 auto;
    display: flex;
    font-size: 0.8em;
    width: 60em;
}
.exp-date
{
    flex: 1 2;
    text-align: left;
}
.exp-detail
{
    flex: 2 4;
}
ol 
{
    font-size: 0.8em;
    list-style: upper-roman;
    width: 30em;
    margin: auto;
}