body
{
    background: url("images/background6.jpg") center;
    background-repeat: no-repeat;
    font-family: Arial, "Arial Black", Verdana, sans-serif;
    color: #ffffff;
}
a
{
    text-decoration: none;
    color: rgb(207, 207, 207)
}
.global
{
    border: 5px outset #44abca;
    width: 800px;
    margin: auto;
    height: 1000px;
}
.bienvenue
{
    text-align: center;
}
nav
{
    list-style-type: none;
}