@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}
body
{
    background: url("images/background2.jpg") center;
    background-repeat: no-repeat;
    font-family: Arial, "Arial Black", Verdana, sans-serif;
    background-color: #000000;
    color: #ffffff;
}
#bloc_page
{
    width: 900px;
    margin: auto;
}
section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
}
header
{
    border: 4px groove #484949;
    height:150px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
}
#titre_principal
{
    display: flex;
    flex-direction: column;
}
#logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}
#logo img
{
    width: 25%;
    height: 25%;
}
header h1
{
    font-size: 1.4em;
    font-weight: normal;
    margin: auto;   
}
nav ul
{
    list-style-type: none;
    display: flex;
}
nav li
{
    margin-right: 4px;
}
nav a
{
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #8f8f8f;
}
.bouton-menu-droite
{
    width: 100px;
    height: 20px;
}