body 
{
    font-family: "Segoe Print", Arial, Verdana, sans-serif;
    background: #000000;
    background: -webkit-linear-gradient(to top, #000000, #434343);
    background: linear-gradient(to top, #000000, #434343);
    color: #a0a0a0;
    font-family: Arial, "Arial Black", Verdana, sans-serif;
    background-color: #000000;
}
#titre
{
    color:#FFFFFF;
    font-family: "Segoe Print", Arial, Verdana, sans-serif;
    color: #a0a0a0;
    margin: auto;
    width: 55em;
    text-align: center;
}
/* menu */
#menu
{
    border: 4px groove #484949;
    border-radius: 1em;
    display: grid;
    grid-template-columns: repeat(4, 13.75em);
    font-size: 1.1em;
    font-weight: bolder;
    background-color: #4d4d4d;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 55em;
    margin: auto;
}
a
{
    text-decoration: none;
    color: #ffffff;
}
/* menu déroulant */
.boutonmenuprincipal 
{
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    z-index: 1000;
    padding-top: 0.33em;
    padding-bottom: 0.33em;
}
.boutonmenuprincipal:hover 
{
    background-color: #1b1b1b;
}
.dropdown
{
    position: relative;
}
.dropdown-child 
{
    display: none;
    background-color: #4d4d4d;
    position: absolute;
    width: 13.75em;
}
.dropdown-child a
{
    color: white;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child 
{
    display: block;
}
.dropdown-child :hover
{
    background-color: #1b1b1b;
}
.dropdown a
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
/* section */
section
{
    box-shadow: 0px 4px 4px #1111134d;
    border-radius: 5px;
    border-left: 4px groove #484949;
    border-right: 4px groove #484949;
    display: flex;
    padding-left: 2px;
    margin-bottom: 2px;
    width: 58em;
    max-width: 58em;
    margin: auto;
    min-height: 44em;
}