/*
commentaire
*/

.saltation
{
    color: rgb(8, 73, 194);
}

.titre001
{
    color : #160246;
}

.test002
{
    color : rgb(124, 3, 3);
    background-color: rgb(2, 2, 2);
    text-align: center;
    
}
p
{
    font-size: 24px;
}
